# This is an example of a .env file who can be adapted for web and mobile builds. You can create a .env.mobile file with the same content but with different values for mobile builds.

# Define the API URL for the application
NEXT_PUBLIC_API_URL="http://localhost:8000/api"

# Define the platform for the build
# Options: web, mobile
NEXT_PUBLIC_PLATFORM=web

# Define the route mode for the application
# Options: dynamic, static
NEXT_PUBLIC_ROUTE_MODE=dynamic

NEXT_PUBLIC_REVERB_AUTH_ENDPOINT="http://localhost:8000/broadcasting/auth"
NEXT_PUBLIC_REVERB_APP_KEY="kennelo-key"
NEXT_PUBLIC_REVERB_HOST="localhost"
NEXT_PUBLIC_REVERB_PORT=8080
NEXT_PUBLIC_REVERB_SCHEME=http

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=